body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "irsans", irsans, sans-serif;
}

@font-face{
    font-family: Vazir;
    src: url('./fonts/Vazir.ttf');
}

.top-fixed{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.container{
    padding: 13px 0;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
}

.navbar{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 20px;
}

.navbar-links a{
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 0 10px 30px;
    font-family: Vazir;
}

.navbar-links a:hover{
    color:#ffc451;
    transition: 0.3s;
}

.navbar-links .home{
    color: #ffc451;
}


.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoName{
    font-family: Vazir;
    color: #fff;
    text-decoration: none;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.imgLogo{
    max-height: 50px;
}

.button{
    font-family: Vazir;
    padding: 8px 25px;
    border-radius: 4px;
    border: 2px #ffc451 solid;
    background-color: black;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.button:hover{
    background-color: #ffc451;
}